.idea/
.qqbot/
config.yaml
*.secret.json
botpy.log
botpy.log*


# 忽略 data/documents/ 下的所有内容
data/documents/

# 忽略 retriever/Custom_BM25 文件夹下的所有 JSON 文件
retriever/Custom_BM25/*.json

# 忽略crawler/xmls下的所有内容
crawler/xmls/